---
layout: newLayout.hbs
subject: Branded transaction email example
---
{{#container config}}

  {{#row config  }}
    {{#col config size="2"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </td>
          </tr>
        </table>
      {{/col}}
      {{#col config size="10"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
            </td>
          </tr>
        </table>
      {{/col}}


  {{/row}}

  {{#row config  }}
    {{#col config size="3"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </td>
          </tr>
        </table>
      {{/col}}
      {{#col config size="9"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
            </td>
          </tr>
        </table>
      {{/col}}
  {{/row}}
      {{#row config  }}
        {{#col config size="4"}}
            <table >
              <tr>
                <td >
                  <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
                </td>
              </tr>
              <tr>
                <td class="text" >
                  Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </td>
              </tr>
            </table>
          {{/col}}
          {{#col config size="8"}}
            <table >
              <tr>
                <td >
                  <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
                </td>
              </tr>
              <tr>
                <td class="text" >
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
                </td>
              </tr>
            </table>
          {{/col}}
  {{/row}}
          {{#row config  }}
            {{#col config size="5"}}
                <table >
                  <tr>
                    <td >
                      <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
                    </td>
                  </tr>
                  <tr>
                    <td class="text" >
                      Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </td>
                  </tr>
                </table>
              {{/col}}
              {{#col config size="7"}}
                <table >
                  <tr>
                    <td >
                      <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
                    </td>
                  </tr>
                  <tr>
                    <td class="text" >
                      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
                    </td>
                  </tr>
                </table>
              {{/col}}


  {{/row}}
  {{#row config  }}
    {{#col config size="6"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </td>
          </tr>
        </table>
      {{/col}}
      {{#col config size="6"}}
        <table >
          <tr>
            <td >
              <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
            </td>
          </tr>
          <tr>
            <td class="text" >
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
            </td>
          </tr>
        </table>
      {{/col}}
        {{/row}}
      {{#row config  }}
        {{#col config size="7"}}
            <table >
              <tr>
                <td >
                  <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
                </td>
              </tr>
              <tr>
                <td class="text" >
                  Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </td>
              </tr>
            </table>
          {{/col}}
          {{#col config size="5"}}
            <table >
              <tr>
                <td >
                  <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
                </td>
              </tr>
              <tr>
                <td class="text" >
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
                </td>
              </tr>
            </table>
          {{/col}}
            {{/row}}
          {{#row config  }}
            {{#col config size="8"}}
                <table >
                  <tr>
                    <td >
                      <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
                    </td>
                  </tr>
                  <tr>
                    <td class="text" >
                      Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </td>
                  </tr>
                </table>
              {{/col}}
              {{#col config size="4"}}
                <table >
                  <tr>
                    <td >
                      <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
                    </td>
                  </tr>
                  <tr>
                    <td class="text" >
                      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
                    </td>
                  </tr>
                </table>
              {{/col}}
                {{/row}}
              {{#row config  }}
                {{#col config size="9"}}
                    <table >
                      <tr>
                        <td >
                          <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-01.jpg" width="100" alt=""  />
                        </td>
                      </tr>
                      <tr>
                        <td class="text" >
                          Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        </td>
                      </tr>
                    </table>
                  {{/col}}
                  {{#col config size="3"}}
                    <table>
                      <tr>
                        <td >
                          <img src="http://app2.dopplerfiles.com/Users/55141/Campaigns/8702029/two-column-02.jpg" width="100" alt="" />
                        </td>
                      </tr>
                      <tr>
                        <td class="text" >
                          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed ante pellentesque, posuere leo id, eleifend dolor.
                        </td>
                      </tr>
                    </table>
                  {{/col}}
                    {{/row}}
{{/container}}
