---
layout: default.hbs
subject: Branded transaction email example
---
<table class="container">
  <tr>
    <td>
      <!-- content start -->
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="six columns">
              <tr>
                <td class="center ">
                  <center>
                    <img width="282" class="center" src="../img/garbarino/logo-garbarino.png">
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td class="center no-padding-top-mbl" valign="bottom" style="padding-top: 34px;">
                  <center>
                  <img width="282" style="max-width: 282px;" style="vertical-align: bottom;" class="center" src="../img/garbarino/logo-right.png">
                </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row" style="border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center">
                  <center>
                    <span style="font-family: Tahoma, Helvetica, Arial, sans-serif; font-weight: normal; color: #666666; font-size: 11px; letter-spacing:1px;"><a href="#" style="text-decoration:none; color: #666666;">TV</a>   |   <a href="#" style="text-decoration:none; color: #666666;">CELULARES LIBRES</a>   |   <a href="#" style="text-decoration:none; color: #666666;">NOTEBOOKS</a>   |   <a href="#" style="text-decoration:none; color: #666666;">LAVADO</a>   |   <a href="#" style="text-decoration:none; color: #666666;">ELECTRO COCINA</a>   |   <a href="#" style="text-decoration:none; color: #666666;">ELECTRO HOGAR</a>   |   <a href="#" style="text-decoration:none; color: #666666;">NOVEDADES</a></span>
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center">
                  <center>
                      <img class="center" src="../img/garbarino/main-banner.png" width="580">
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      {{#each garbarino.items}}
       <table class="row" style=" border-bottom: 1px solid #E6E6E6;">
        <tr>
          <td class="wrapper">
            <table class="six columns">
              <tr>
                <td class="center">
                  <center>
                      <img class="center" src="../img/garbarino/ft001.png" width="280" >
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td>
                  <table align="Right" border="0" cellpadding="0" cellspacing="0" width="280" class="flexibleContainer">
                      <tr>
                          <td align="left" class="textContentLast" valign="top"><span style="font-family: Tahoma, Arial, sans-serif; color: #666666; font-size: 11px; line-height: 150%;">Precio online</span></td>
                      </tr>
                      <tr>
                          <td align="left" style="padding: 0;" valign="top" ><span style="font-family: Tahoma, Geneva, sans-serif; font-weight: bold; color: #333333; font-size: 24px; line-height: 150%;">$7.199</span></td>
                      </tr>
                      <tr>
                          <td  align="left" valign="top" style="padding: 0;"><span style="font-family: Tahoma, Arial, sans-serif; color: #333333; font-size: 14px; line-height: 100%;">TV LED 40&rdquo; PHILIPS 40PFG50000/77</span></td>
                      </tr>
                      <tr>
                          <td align="left" style="padding: 0 0 8px 0; border-bottom: 1px solid #E6E6E6" valign="top" ><span style="font-family: Tahoma, Arial, sans-serif; color: #666666; font-size: 11px; line-height: 11px;">Origen Argentina - Stock 10U - [212548]</span></td>
                      </tr>
                      <tr>
                          <td align="left" style="padding: 6px 0 0 0;" valign="top" ><span style="font-family: Tahoma, Arial, sans-serif; color: #666666; font-size: 11px; line-height: 11px;">Contado Regular $9.499</span></td>
                      </tr>
                      <tr>
                          <td align="left" style="padding: 0 0 4px 0;" valign="top" ><span style="color: #469F38; font-size: 11px; line-height: 17px; font-weight: bold; font-family: Tahoma;">Cup&oacute;n de Descuento: TV2615<br> Desc. Cup&oacute;n $2.300</span></td>
                      </tr>
                      <tr>
                          <td align="left" style="padding: 0 0 15px 0;" valign="middle"><span style="color: #D11A22; font-size: 14px; line-height: 18px; font-weight: bold; font-family: Tahoma;">12 Cuotas sin inter&eacute;s <span style="font-size:18px">$89.90</span></span></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" width="600" style="padding: 0" class="flexibleContainerCell">
                            <table border="0" cellpadding="0" cellspacing="0" width="115" style="border-collapse:separate;">
                                <tr>
                                    <td align="center" valign="middle"><a style="font-family: Tahoma, Arial, sans-serif; font-weight: normal; color: #FFFFFF; text-decoration: none; font-size: 12px; line-height: 12px; background-color: #459F37; border-top: 12px solid #459F37; border-bottom: 12px solid #459F37; border-left: 13px solid #459F37; border-right: 13px solid #459F37; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-align:center; display: inline-block;" href="https://app2.fromdoppler.com/" target="_blank">COMPRALO YA</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      {{/each}}
      <table class="row">
        <tr>
          <td class="wrapper offset-by-three" style="padding-left: 155px">
            <table class="six columns">
              <tr>
                <td>
                  <table class="button radius">
                    <tr>
                      <td>
                        <a href="#">VER M&Aacute;S OFERTAS</a>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row" bgcolor="#F1F1F1">
        <tr>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td class="center" style="">
                  <center>
                    <img src="../img/garbarino/12cuotas.png" width="285" class="center" />
                  </center>
                </td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td>
                  <img src="../img/garbarino/creditcards.png" width="285" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row" >
        <tr>
          <td class="wrapper">
            <table class="six columns">
              <tr>
                <td class="center">
                  <center>
                    <img src="../img/garbarino/banner1.jpg" width="285"  class="center" />
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <center>
                  <td class="center">
                    <img src="../img/garbarino/banner2.jpg" width="285" />
                  </td>
                </center>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row" bgcolor="#EB1B23">
        <tr>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td class="center" >
                  <center>
                    <img src="../img/garbarino/phone-contact.png" width="152" class="center" />
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper">
            <table class="six columns">
              <tr>
                <td>
                  <img src="../img/garbarino/social-buttons.png" width="280"  />
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center">
                  <center>
                    <span style="display: block; font-family: Tahoma, Arial, sans-serif; font-weight: regular; text-align:justify; color: #666666; font-size: 11px; line-height: 13px;">(C) Promoci&oacute;n 12 Cuotas: tna: 0%, tea: 0% promoci&oacute;n vigente en todas las sucursales garbarino de la Rep&uacute;blica Argentina, para todos los productos del 01/06/2015 al 30/06/2015 o hasta agotar stock indicado en cada producto, lo que ocurra primero. el costo &#64257;nanciero total (CFT) var&iacute;a seg&uacute;n los cargos cobrados por cada banco. Por favor requiera esta informaci&oacute;n al banco emisor de su tarjeta. Tarjeta Naranja: C.F.T.: 3.41%, T.E.A. &#64257;ja0%, T.N.A. &#64257;ja 0%. plan 12 cuotas (Costo Financiero Total, corresponde a seguro de vida sobre saldo deudor). Promoci&oacute;n valida del 01/06/2015 al 30/06/2015 en todos los productos. Tarjeta Naranja S.A. Sucre n&deg; 151, b&deg; Centro, C&oacute;rdoba, Argentina. CUIT: 30-68537634-9. Tarjeta Nativa Financiaci&oacute;n Sin Inter&eacute;s En 12 Cuotas: abonando con las tarjetas de cr&eacute;dito Nativa y Nativa Mastercard del Banco de la Naci&oacute;n Argentina. Vigencia del 01/06/2015 al 30/06/2015. TNA (tasa nominal anual) &#64257;ja: 0% - TEA (tasa efectiva anual) &#64257;ja: 0% - CFT (costo &#64257;nanciero total) tea: 3,58% por seguro de vida sobre saldo deudor, para una compra de $1.000. Consulta los comercios adheridos exclusivamente a esta promoci&oacute;n en www.bna.com.ar y www.nativanacion.com.ar. El Banco de la Naci&oacute;n Argentina no se responsabiliza por la calidad de los productos y/o servicios adquiridos. Vigencia de los precios del producto de este email el 04/06/2015 al 08/06/2015 o hasta agotar stock indicado, lo que ocurra primero. No acumulable con otras promociones u ofertas. Los precios no incluyen costos de env&iacute;o, los cuales podr&aacute;n variar seg&uacute;n el domicilio del comprador. Consulte el precio de nuestros productos llamando al (011) 4788-7100 o a cac@garbarino.com.ar (ley 4435 gcba). Garbarino S.A.I.C.e.I.: administraci&oacute;n: Guevara 533, C.A.B.A. C.U.I.T.: 30-54008821-3. Centro de atenci&oacute;n al cliente: (011) 4588-7000. Protecci&oacute;n de datos personales: el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un inter&eacute;s leg&iacute;timo al efecto conforme lo establecido en el art&iacute;culo 14, inciso 3 de la ley n&ordm; 25.326. en virtud de lo establecido por la disposici&oacute;n nro. 4 de la direcci&oacute;n nacional de protecci&oacute;n de datos personales y de los arts. 27, inc. 3 de la ley 25.326 y 27, p&aacute;rrafo 3ro. del decreto 1558/01, referidos a las bases de datos con &#64257;nes de publicidad, le informamos que usted tiene derecho al retiro o bloqueo, total o parcial, de su nombre de esta base de datos, lo que podr&aacute; hacer enviando su decisi&oacute;n en tal sentido utilizando el link &ldquo;remover suscripci&oacute;n&rdquo; al pie del presente, o al tel&eacute;fono (011) 4588-7000, o la direcci&oacute;n guevara 533, capital federal, o en el sitio de internet www.garbarino.com o de cualquier otra forma que permita una noti&#64257;caci&oacute;n expresa y que permita dejar. </span>
                  </center>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
  </td>
  </tr>
</table>
