---
layout: default.hbs
subject: ZURB INK Integration
---

<table class="container">
  <tr>
    <td>
      <!-- content start -->
      {{#row}}

        {{#col count="six" class=""}}
          <h1>Hi, Marlboro</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <img width="290" height="290" src="http://placehold.it/290x290">
        {{/col}}

        {{#col count="six" class="last"}}
          <h1>Hi, Marlboro</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
          <img width="290" height="290" src="http://placehold.it/290x290">
        {{/col}}

      {{/row}}
      <!-- container end below -->
    </td>
  </tr>
</table>
